


  .landing{background-image: url('../photos/spice.jpg');
          background-position:center;;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100vh;width: 100vw;


    .holdTheLine{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100vw;height: 100px;

      align-items: center;
      .ham{
          width:50px;
          height:40px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 10%;
          
        .line{

          width:60px;height:3px;
          background-color: black;
        }
      }
    }
}
  .quote{background-color: #212733;
        height: 45vh;width: 100vw;
        font-family: europa,sans-serif;
        font-weight: 300;
        text-align: center;
        display:table;
        .qCentContain{
          display: inline-block;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
        }
        p{

          color: #e8e5e3;
          font-size: 28px;
          margin: auto;
          line-height: 1.75;
          letter-spacing: 4px;
          text-transform: uppercase;

          span{
            letter-spacing: 1px;
            text-transform: lowercase;
            font-style: italic;
            font-size: 24px;
            font-family: garamond-premier-pro-display,"Minion Pro",Times,"Times New Roman",Serif;

          }
        }

  }
  .aboutParent{

    height:125vh;width: 100vw;
    position:relative;
    background-image: url(../photos/utahVally.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .about{
      height: 75%;width: 40%;
      background-color: #c5c5c5;
      opacity: .8;
      position: absolute;
      left: 45%;
      bottom: 0px;

      .topBox{
        width: 100%;
        height: 20%;
        #aboutBox{
          border-bottom: black solid 3px;
          height: 100%;width: 15%;
          float: left;
        }
        #aboutTitle{
          font-family: europa,sans-serif;
          font-weight: 300;
          font: inherit;
          text-transform: uppercase;
          font-size: 22px;
          letter-spacing: 4px;
          float: left;
          height: 100%;width: 85%;
          display: table;
          h1{
            display: table-cell;
            vertical-align:middle;
          }
        }
      }

        .content{
            margin: auto;
            padding-top: 15%;
            width: 80%;height: 80%;

            #innerContent{
              font-size: 20px;
              line-height: 1.6;
              font-family: garamond-premier-pro-display,"Minion Pro",Times,"Times New Roman",Serif;
            }
          }
      }

  }


  .review{height: 50vh;width: 100vw;
          background-color: #212733;}
  .menu{
    height: 1500px;width: 100vw;
        background-image: url(../photos/garlic.jpg);
        background-position:center;
        background-size:cover;
        position: relative;

        .menuContainer{
                      width:70vw;height:90%;
                      background-color: #c5c5c5;
                      position: absolute;
                      left: 15%;
                      bottom:0px;
                    }
        }
    .menuImg{
      height: 100vh;width: 100vw;
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;

        .block{

          background-image: url(../photos/cookie.jpg);
          background-position: center;
          background-size: cover;

          background-color: grey;
          height: calc(100%/3);
          width: calc(100%/4);
        }

    }
    .aboutUs{
      width: 100vw;height: 100vh;
      background-image: url(../photos/map.jpg);
      background-size: cover;
      background-position: center;
      position: relative;
      .info{
        background-color: white;
        position: absolute;
        left: 5%;
        bottom: 0;
        height: 80%;
        width: 35%;

      }
    }
    footer{
      width: 100vw;height:120px;
      background-color: #212733;

      h2{
        display: inline-block;
      }
    }
    @media(max-width: 1000px){
     .aboutParent{
       background-image: none;
       .about{
         width: 100%;height:100%;
         position: static;
       }
     }


    }
